* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 50vh;
}

.btn {
    margin: 2% 0;
    border: none;
    outline: none;
    border-radius: 10px;
    max-height: 250px;
}

.btn:hover {
    cursor: pointer;
}

.btn > img {
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 436px) {
    .btn {
        margin: 5%;
    }
}